* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
}

a {
  color: #1e6bb8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.page-header {
  height: 200px;
  width: 100%;
  text-align: center;
  color: #fff;
  background: #549eff;
  margin: 0;
  padding: 20px 0;
}

.page-header a {
  color: #fff;
}

.main-content {
  width: 90%;
  max-width: 950px;
  margin: 20px auto;
}

.feature {
  overflow: auto;
  margin: 30px 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}
.feature .img-container {
  float: left;
  width: 350px;
  margin-right: 20px;
}
.feature.right .img-container {
  float: right;
  margin-right: 0;
  margin-left: 20px;
}

.feature .text-container {
}

.feature h3 {
  font-size: 25px;
  margin: 0 0 20px 0;
}

code {
  font-family: 'Monaco', 'Courier', monospace;
}
